.header-logo img{
	float:left;
	width:250px;
}

.crop-house img{
	float:right;
	width:350px;
}

.container{
	width:100% !important;
	padding-left:0px !important;
}

.sidebar{
	background-color:black;
	height:550px;
	color:white;
}

.shover a{
	text-decoration:none;
	color:white;
	text-align:center;
}

.shover:hover{
	background-color:white;
	color:black;
}